# Postgres Configuration
POSTGRES_PASSWORD=0123456789
POSTGRES_HOST=postgres-db
POSTGRES_USER=postgres
POSTGRES_NAME=golang-backend-template
POSTGRES_PORT=5432
SSL_MODE=disable
PORT=8000

JWT_SECRET=
RESEND_API_KEY=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=
SEND_FROM_NAME=
SEND_FROM_EMAIL=

CLIENT_WEBAPP_URL=http://localhost:3000
GIN_MODE=debug

# Kafka Configuration
KAFKA_BROKERS=kafka:29092
KAFKA_VERSION=0.0.1
KAFKA_CLIENT_ID=golang-backend 
KAFKA_CONSUMER_GROUP=golang-backend-consumer