<!DOCTYPE html>
<html>

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Inter', sans-serif;
            background-color: #f2f2f2;
            color: #242D32;
        }

        a {
            color: #fff !important
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .logo {
            display: block;
            margin: 0 auto;
            max-width: 150px;
        }

        .header {
            color: #7B61FF;
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .message {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .otp-container {
            display: flex;
            justify-content: start;
            align-items: center;
            border-radius: 8px;
            padding: 20px;
        }

        .otp {
            font-size: 18px;
            font-weight: bold;
            background-color: #7B61FF;
            text-align: center;
            color: #ffffff;
            padding: 8px;
            border-radius: 8px;
        }


        .footer {
            font-size: 14px;
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <table bgcolor="#F2F2F2" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <div style="max-width:600px;margin:0 auto;font-size:16px;line-height:24px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0"
                                            class="m_-9077299099426433551card-box m_-9077299099426433551first"
                                            width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            class="m_-9077299099426433551card-box" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="background-color:white;padding-top:30px;padding-bottom:30px">
                                                                        <table border="0" cellpadding="0"
                                                                            cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left"
                                                                                        style="padding-top:0;padding-bottom:20px;padding-left:30px">
                                                                                       
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="m_-9077299099426433551card-row"
                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;margin-left:px;margin-right:px">
                                                                                        <h2
                                                                                            style="margin-top:0;margin-bottom:0;font-family:Helvetica,sans-serif;font-weight:normal;font-size:24px;line-height:30px;color:#001e00">
                                                                                            Hi {{.Name}}, was this you?
                                                                                        </h2>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="m_-9077299099426433551card-row"
                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:20px;margin-left:px;margin-right:px">
                                                                                        We noticed a recent login to
                                                                                        your
                                                                                        <span class="il">Lasgcee</span>
                                                                                        account from an unfamiliar
                                                                                        device.
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="m_-9077299099426433551card-row"
                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:30px;padding-bottom:10px;margin-left:px;margin-right:px">
                                                                                        <div role="table">
                                                                                            <div role="rowgroup">
                                                                                                <div role="row"
                                                                                                    align="left"
                                                                                                    style="border-top:1px solid #d5e0d5;padding:15px 15px 15px;vertical-align:top">
                                                                                                    <div role="cell">
                                                                                                        Timestamp </div>
                                                                                                    <div role="cell">
                                                                                                        {{.Time}} </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div role="rowgroup">
                                                                                                <div role="row"
                                                                                                    align="left"
                                                                                                    style="border-top:1px solid #d5e0d5;padding:15px 15px 15px;vertical-align:top">
                                                                                                    <div role="cell">
                                                                                                        <div
                                                                                                            style="font-family:Helvetica,Arial,sans-serif;word-break:normal">
                                                                                                            Device
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div role="cell">
                                                                                                        Platform: {{.Platform}}
                                                                                                    </div>
                                                                                                    <div role="cell">
                                                                                                        OS: {{.OS}}
                                                                                                    </div>
                                                                                                    <div role="cell">
                                                                                                        BrowserName: {{.BrowserName}}
                                                                                                    </div>
                                                                                                    <div role="cell">
                                                                                                        Model: {{.Model}}
                                                                                                    </div>
                                                                                                    <div role="cell">
                                                                                                        Is Mobile?: {{.Mobile}}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div role="rowgroup"
                                                                                                aria-hidden="true">
                                                                                                <div role="row"
                                                                                                    style="line-height:0;border-top:1px solid #d5e0d5">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div role="rowgroup">
                                                                                                <div role="cell"
                                                                                                    align="left"
                                                                                                    style="color:#65735b;font-size:14px;line-height:24px;padding-top:10px;padding-bottom:20px">
                                                                                                    * The city above may
                                                                                                    be
                                                                                                    the city nearest to
                                                                                                    you.
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="m_-9077299099426433551card-row"
                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:20px;margin-left:px;margin-right:px">
                                                                                        If this was you no further
                                                                                        action is
                                                                                        required.
                                                                                        If you do not recognize this
                                                                                        activity, <a
                                                                                            href={{.Url}}>reset
                                                                                            your password</a>
                                                                                        immediately.
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="m_-9077299099426433551card-row"
                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:20px;margin-left:px;margin-right:px">
                                                                                        Security is important to us at
                                                                                        <span class="il">Your company</span>,
                                                                                        and we
                                                                                        will inform you if we notice
                                                                                        unusual
                                                                                        account activity. We may be
                                                                                        unable
                                                                                        to
                                                                                        recognize a login attempt when
                                                                                        you
                                                                                        have cleared your cookies or are
                                                                                        logged in under private browsing
                                                                                        mode. </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td class="m_-9077299099426433551card-row"
                                                                                        style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;word-break:break-word;padding-left:20px;padding-right:20px;padding-top:30px;margin-left:px;margin-right:px">
                                                                                        <div style="padding-top:10px">
                                                                                            Thanks,<br>The <span
                                                                                                class="il">Your company</span>
                                                                                            Team</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" width="100%"
                                        style="color:#65735b;font-size:12px;line-height:24px;padding-bottom:30px;padding-top:30px">
                                        <a href="https://www.upwork.com/legal/privacy/?frkscc=i3REMy6Hdtkd"
                                            style="color:#65735b;text-decoration:underline" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://www.upwork.com/legal/privacy/?frkscc%3Di3REMy6Hdtkd&amp;source=gmail&amp;ust=1732442476189000&amp;usg=AOvVaw1-Lh8iBKKWVylGxvGYt68-">Privacy
                                            Policy</a> &nbsp; | &nbsp; <a
                                            href="https://support.upwork.com/home?frkscc=Jn7mvQdB8ztv"
                                            style="color:#65735b;text-decoration:underline" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://support.upwork.com/home?frkscc%3DJn7mvQdB8ztv&amp;source=gmail&amp;ust=1732442476189000&amp;usg=AOvVaw3E2R5ODuonUHCrflQouIuo">Contact
                                            Support</a>
                                        <div style="font-family:Helvetica,Arial,sans-serif;word-break:normal"
                                            class="m_-9077299099426433551address-link">
                                            655 Montgomery Street, Suite 490, Dpt 17022, San Francisco, CA 94111
                                        </div>
                                        <div style="font-family:Helvetica,Arial,sans-serif;word-break:normal">
                                            © 2024 <span class="il">Upwork</span> Inc.
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>